playlist:
  title: <%= inspect(@title) %>
  location: <%= inspect(@location) %>
  description: <%= inspect(@description) %>
  urls:<%= if Enum.empty?(@urls) do %> []<% else %><%= for url <- @urls do %>
    - <%= url %><% end %><% end %>
  source: <%= @source %>
  thumbnails:
    xs: <%= @thumbnails.xs %>
    s: <%= @thumbnails.s %>
    m: <%= @thumbnails.m %>
    l: <%= @thumbnails.l %>
    xl: <%= @thumbnails.xl %>
  published_at: <%= @published_at %>